<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tasklist.repository.TaskRepository">
    <resultMap id="UserResultMap" type="com.example.tasklist.domain.task.Task" autoMapping="false">
        <id property="id" column="task_id"/>
        <result property="title" column="task_title"/>
        <result property="description" column="task_description"/>
        <result property="expirationDate" column="task_expiration_date"/>
        <result property="status" column="task_status"/>
    </resultMap>
    
    <select id="findById" resultMap="TaskResultMap">
        select t.id    as task_id,
        t.title as task_title,
        t.description as task_description,
        t.status as task_status,
        t.expiration_date as task_expiration_date
        from tasks t
        where t.id = #{id}
    </select>

    <select id="findAllByUserId" resultMap="TaskResultMap">
        select t.id              as task_id,
        t.title           as task_title,
        t.description     as task_description,
        t.expiration_date as task_expiration_date,
        t.status          as task_status
        from tasks t
        JOIN users_tasks ut on t.id = ut.task_id
        where ut.user_id = #{userId}
    </select>
    
    <insert id="create" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO tasks (title, description, expiration_date, status)
        VALUES (#{title}, #{description}, #{expirationDate}, #{status})
    </insert>

    <insert id="assignToUserById" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO users_tasks (task_id, user_id)
        VALUES (#{taskId}, #{userId})
    </insert>

    <insert id="update" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        UPDATE tasks
        SET title = #{title},
        description = #{description},
        expiration_date = #{expirationDate},
        status = #{status}
        WHERE id = #{id}
    </insert>

    <select id="delete" resultMap="TaskResultMap">
        DELETE
        FROM tasks WHERE id = #{id}
    </select>
</mapper>